.title {
  text-align: center;

  height: 5rem;
}

.chatContainer {
  padding: 2rem;
  width: 80%;
  height: 80vh;
  min-width: 80%;
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
  background-color: rgb(231, 238, 236);
  margin: 0 auto;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.233);
}

.local {
  padding: 1.2rem;
  border-radius: 1.2rem;
  background-color: #e3bd00;
  max-width: 80%;
  color: black;
  width: max-content;
  align-self: flex-start;
}
.remoto {
  padding: 1.2rem;
  border-radius: 1.2rem;
  background-color: black;
  max-width: 80%;
  color: #e3bd00;
  width: max-content;
  align-self: flex-end;
}

.inputContainer {
  background-color: #e3bd00;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
}

input {
  width: 100%;
  border: none;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.233);
  outline: none;
}
